@charset "utf-8";.flight-main-container{margin:20px 0px;padding:0px; min-height:400px}
.flight-main-container .flight-main-con-left{width:60%;min-height:250px;float:left;padding:0px;}
.flight-main-con-left .flight-heading h1{color:#FFF;font-size:1em;display:block;padding:15px 21px;margin:0px;margin-bottom:1px;background:#0e66c0;font-weight:normal;display:block;}
.flight-tab-heading ul{list-style:none;margin:0px;padding:0px;}
.flight-tab-heading ul li{float:left;}
.flight-tab-heading ul li a{display:block;color:#000;font-size:1em;float:left;display:block;padding:15px 21px;margin:0px 2px 1px 0;min-width:15%;background:#cfe0f2;font-weight:normal;display:block;}
.flight-tab-heading a:hover{text-decoration:none;background:#0E66C0;color:#FFF;}
.flight-tab-heading a.active{background:#0e66c0;color:#FFF;text-decoration:none;}
.flight-nav{height:25px;width:100%;float:left;margin-bottom:20px;}
.flight-nav ul{list-style:none}
.flight-nav ul li{float:left;width:25%;}
.flight-nav ul li a{display:block;padding:0 20px;line-height:25px;background:url(../../images/flight-nav-divider.png) no-repeat center right;text-decoration:none;}
.flight-nav ul li a:hover{color:#0E66C0;}
.flight-nav ul li a.last{background-image:none;}
.flight-nav ul li a.active{color:#0E66C0;}
.flight-book{width:100%;border:1px solid #0e66c0;padding:20px;background:#FFFFFF;}
.flight-book-form{float:left;width:50%;padding:0px 1%;}
.flight-book-form label{font-size:1em;color:#FFF;background:#716C67;padding:6px 0px;float:left;text-align:center;width:20%;}
.flight-book-form input[type="text"]{float:left;width:80%;box-shadow:inset 0px 0px 5px #CCCCCC;border:1px solid #ebebeb;padding:5px;background-color:#FFF;}
.flight-book-form-buton{float:right;margin-top:5%;margin-right:1%}
.fl-adults-btmain{clear:both;}
.button{font-size:1em;background:#716C67;color:#FFF;border:0px;padding:7px 25px; outline:none}
.flight-departure{color:#999;margin:0 0 5px 0;}
.button:hover{background:#0E66C0}
.flight-add{width:25%;margin-top:10px;float:left;padding:0px 1%;}
.flight-add .adult p{font-size:1em;color:#999}
.flight-add .adult .eco{width:100%;border:1px solid #ebebeb;box-shadow:0 0 5px #cccccc inset;height:35px;padding:5px;background-image:url("../../images/dropDownArrow.png");background-repeat:no-repeat;background-position:right center;-moz-appearance:none;-webkit-appearance:none;appearance:none;}
.adult-add-box{height:36px;border:1px solid #e6e6e6;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-ms-border-radius:5px;background:#eeeeee;background:-moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));background:-webkit-linear-gradient(top, #eeeeee 0%, #cccccc 100%);background:-o-linear-gradient(top, #eeeeee 0%, #cccccc 100%);background:-ms-linear-gradient(top, #eeeeee 0%, #cccccc 100%);background:linear-gradient(to bottom, #eeeeee 0%, #cccccc 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc', GradientType=0);}
.adult-add-box ul{list-style:none;}
.adult-add-box ul li{width:33.33%;float:left;text-align:center;display:inline-block;height:100%;}
.adult-add-box ul li a{display:block;font-size:1em;font-weight:bold;padding:5px 16px;text-decoration:none;line-height:25px;border-right:1px solid #CCC;position:relative;width:100%;height:100%;}
.adult-add-box ul li a:hover{color:#0E66C0;}
.adult-add-box ul li a.last{border:0px}
.adult-add-box label.error[for]{position:absolute;width:130px;left:-45px;top:35px;font-weight:normal;font-size:0.85em;line-height:1.2;white-space:nowrap;}
.flight-add .adult{font-size:1em;color:#999}
.adult-add-box input{background:none repeat scroll 0% 0% transparent;border:0px none;width:9px;}
.col-md-4.bus-main-left{padding:0px 1% 0px 0px;width:25%;float:left;}
.flight-container{width:100%;padding:0px;margin:0px;}
.flight-main-left{background:#CCC;height:550px;margin-right:4px;padding:0px;}
.reset-filter{width:100%;background-color:#FFF;padding-bottom:25px;border:1px solid #C8C8C8;}
.reset-heading h1{font-size:1em;color:#0e66c0;padding:10px 0;margin:0px;}
.filter-img{float:left;margin:10px}
.reset-heading h2{font-size:1em;color:#0E66C0;padding:0;margin:0px;}
.price-img{float:left;margin:5px 10px 0 30px;}
#price-range, #departure-range{width:80%;margin:5% 10%;}
#price-amount, #departure-amount{border:0;width:100%;color:#333333;font-weight:bold;text-align:center;cursor:not-allowed;background-color:#FFF;}
.reset-heading .filter_range{padding:3%;border-bottom:1px solid #A8A8A8;margin-top:5%;}
.filter_check{padding:3%;margin-top:5%;}
.check_input{width:100%;padding-left:13%;}
.check_first{margin-top:3%;}
.col-md-12.flight-main-con-left{padding:1%;border:1px solid #BFBFBF;margin-bottom:5px;}
.flight-main-right{width:75%;float:left;margin:0px;padding:0px;}
.flight-top-headeing{width:100%;background:#FFF;margin-bottom:2px;padding:5px;float:left;border:1px solid #C8C8C8;}
.flight-top-headeing span{font-size:1em;margin:0px;padding:0px 20px;float:left; width:60%;}
.right-top-heading{float:right;}
.right-top-heading input[type="button"]{border:0px none;background:none repeat scroll 0% 0% #716C67;padding:6px 12px;color:#FFF;}
.agent_check{border:0px none;background:none repeat scroll 0% 0% #716C67;color:#FFF;position:relative;height:34px;width:34px; text-decoration:underline; outline:none}
.agent_check.com{width:150px; margin-top:2px; background:#FF6600; outline:none}
.fl-tbl-check_input{text-align:center;font-size:1em;margin-top:5px;margin-bottom:-6px;color:#5A5A5A;}
.agent_price{color:#EA1919; font-size:0.85em}
.agent_check:hover, .right-top-heading input[type="button"]:hover{background:#0E66C0;text-decoration:none;}
.fl-slider{width:100%;background:#FFF;float:left;border:1px solid #C8C8C8;}
.showprice{width:100%;border:1px solid #C8C8C8;position:fixed;height:auto;left:0;background:rgba(150, 150, 150, 0.5);bottom:5px;z-index:1500;}
.float_left.depatur_times, .float_left.arival_times{text-align:center;padding:0px 10px;}
.showprice-opacity{background:#B3B3B3;width:75%;margin:0px auto;float:right;}
.custom-container.bounceout hr{margin-top:8px;margin-bottom:-10px;border-color:#D5D5D5;}
.fl-slider .carousel{width:90% !important;position:absolute !important;height:100%;margin:0px 5%;padding:3% 0px;}
.fl-slider .carousel ul li{width:auto !important;margin-right:16px;}
.fl-slider .carousel ul li a{color:#000;margin-left:10px;line-height:25px}
.fl-slider .carousel ul li img{width:30px;height:30px;float:left;}
.fl-slider .custom-container{width:100%;float:left;height:83px;position:relative;}
.fl-slider .custom-container h1{font-size:1em;color:#0e66c0;padding:10px 0 0 10px;margin:0px;}
.fl-slider .custom-container .prev{height:100%;float:left;display:inline-block;font-size:4em;line-height:1.2em;}
.fl-slider .custom-container .next{float:right;font-size:4em;display:inline-block;height:100%;line-height:1.2em;}
.flight-table{width:100%;background:#FFF;margin-top:3px;border:1px solid #C8C8C8;float:left;margin-bottom:25%;}
.flight-table:hover{border:1px solid #716C67;box-shadow:0px 0px 1px #716C67;}
.table-striped > tbody > tr:nth-child(2n+1) > td{background-color:#FFF !important;}
.flight-table .table-striped{color:#0e66c0;font-weight:normal;background:#f8f6f6;margin:0px;}
.flight-table .fl-table-heading{font-family:Trebuchet MS, Arial, Helvetica, sans-serif;font-size:1em;font-weight:normal;background:#0e66c0;color:#FFFFFF;}
.flight-table .fl-table-heading tr th{width:20%;cursor:pointer;}
.flight-table .fl-table-heading tr th:first-child{width:12%;}
.flight-table .fl-table-body tr td{width:20%;}
.flight-table .fl-table-body tr td:first-child{width:20%;}
.flight-table .fl-table-body{font-family:Trebuchet MS, Arial, Helvetica, sans-serif;font-size:1em;background:#cfe0f2;color:#0e66c0;border:0px;margin-top:2px;}
.flight-table .fl-tbl-smtext{font-size:0.85em;clear:both;position:relative;top:0px;color: #43163F;}
.fl-name-smtext{font-size:0.75em;clear:both;position:relative;top:4px;}
.flight-table .fl-tbl-smtext a:hover{text-decoration:none;}
.flight-table .fl-table-body .fl-btn input[type="button"], .flight-table .fl-table-body .fl-btn button{border:0px;background:#716C67;min-width:100px;height:34px;color:#FFF;}
.flight-table .fl-table-body .fl-btn input[type="button"]:hover, .flight-table .fl-table-body .fl-btn button:hover{background:#0E66C0;text-decoration:none;}
.flight-table .fl-table-body .fl-tbl-smtext input[type="checkbox"]{margin-right:5px;top:2px;outline:none;position:relative;}
.fl-tbl-nav{clear:both;border-top:1px solid #E9E9E9;}
.fl-tbl-nav ul{list-style:none;margin:0px;padding:0px;}
.fl-tbl-nav ul li{float:left;padding:0 5px;line-height:35px;}
.fl-tbl-nav ul li a{display:block;font-size:0.85em;color:#0e66c0;text-decoration:none;}
.fl-tbl-nav ul li a:hover{color:#0E66C0}
label.error[for]{background:none repeat scroll 0% 0% transparent;color:red;margin:0px;padding:0px;white-space:nowrap;}
.flight-book-form p:last-child{float:none;}
.fl-tbl-check_input input[type="checkbox"] + label{height:15px;overflow:hidden;display:block;cursor:pointer;margin:0 0 5px 0;position:relative;top:5px;}
.fl-tbl-check_input input[type="checkbox"]:checked + label{cursor:pointer;}
.fl-tbl-check_input input[type=checkbox] + label span{margin-left:20px;cursor:pointer;font-weight:100;font-size:0.85em;position:relative;top:-3px;color:#989898;outline:none;}
.tooltip_text{outline:none;box-sizing:border-box;position:relative;}
.tooltip_text h2{background-color:#000;position:relative;top:-20px;margin-bottom:-15px;color:white;font-size:14px;line-height:36px;text-align:center;}
.tooltip_text:hover{text-decoration:none;}
.tooltip_text .tooltip_text_area{z-index:10;display:none;position:relative;right:10px;margin-top:30px;min-width:250px;border:1px solid #999;}
.tooltip_text:hover .tooltip_text_area{display:inline;position:absolute;border:2px solid #FFF;color:#000;background-color:#FFF;border-radius:0px;border:1px solid #000;}
.callout{z-index:20;position:absolute;border:0;top:-18px;right:-1px;}
.tooltip_text .tooltip_text_area{border-radius:0px;border:1px solid #999;}
.tooltip_text_area .table_div{width:100%;float:left;font-size:12px;line-height:20px;clear:both;padding:2%;}
.table_div ul{width:100%;}
.table_div ul li{margin-left:8%;}
.table_div_row{width:100%;float:left;clear:both;}
.left_table_cell{width:42.5%;text-align:left;float:left;}
.rupee_text{text-align:right;width:35px}
.price_text{text-align:right;}
.total_price{border-top:1px solid #000;}
.cls-fare-hide1{display:none;}
.cls-fare-hide{display:none;}
.cls-flight-name-hide{display:none;}
.stop-hide{display:none;}
.slider-range-hide{display:none;}
.slider-range-hide1{display:none;}
.dataTables_info_hide1{display:none;}
.float_right{float:right;}
.float_right .button{position:absolute;top:35%;right:9%;}
.rtrip-error{color:#FF0000;white-space:nowrap;}
.float_left{display:inline-block;}
.text_color{color:#000;}
.float_left.flight-icons{text-align:center;padding:0 10px;}
.float_left.flight-stop{color:#0E66C0;min-width:200px;padding:20px 0px;border-right:1px dotted white;}
.float_left.total-fare{text-align:center;color:#0E66C0;padding:0 10px;}
.flght-roundtrip-tbl-left{width:37.3%;float:left;margin-right:2px;margin-bottom:10%;}
.flght-roundtrip-tbl-right{width:37.3%;float:left;margin-left:2px;margin-bottom:10%;}
.flight-table-rnd{width:100%;background:none repeat scroll 0% 0% #FFF;margin-top:3px;border:1px solid #C8C8C8;float:left;}
.flight-table-round .table-striped-rnd{color:#0E66C0;font-weight:normal;background:none repeat scroll 0% 0% #F8F6F6;margin:0px;}
.flight-table-rnd .fl-table-heading-rnd{font-family:Trebuchet MS, Arial, Helvetica, sans-serif;font-size:1em;font-weight:normal;background:none repeat scroll 0% 0% #0E66C0;color:#FFF;}
.flight-table-rnd .fl-table-body-rnd{font-family:Trebuchet MS, Arial,w Helvetica, sans-serif;font-size:1em;background:none repeat scroll 0% 0% #CFE0F2;color:#0E66C0;border:0px none;margin-top:2px;}
tbody .tr_odd-rnd{background-color:#F0F0F0;}
.fl-name-smtext-rnd{font-size:0.75em;clear:both;position:relative;top:4px;}
.flight-table-rnd .fl-table-body-rnd tr td:first-child{width:1%;}
.table-striped-rnd > tbody > tr:nth-child(2n+1) > td{background-color:#FFF !important;}
.flight-table-rnd .fl-table-body-rnd .fl-btn-rnd button{border:0px none;background:none repeat scroll 0% 0% #716C67;min-width:100px;height:34px;color:#FFF;}
.flight-table-rnd .fl-tbl-smtext-rnd{font-size:0.75em;clear:both;position:relative;top:4px;}
.fl-name-smtext-rnd{font-size:0.75em;clear:both;position:relative;top:4px;}
.flight-table-rnd .fl-tbl-smtext-rnd a:hover{text-decoration:none;}
.fl-tbl-check_input-rnd{text-align:center;font-size:0.8em;margin-top:5px;margin-bottom:-6px;display:none;}
.flight-table-rnd .fl-table-body-rnd tr td{width:40%;font-size:0.75em;}
.rnd-divider{width:100%;height:1px;border-bottom:1px solid #CCCCCC;}
.reset-filter h1{font-size:1em;color:#231F20;padding:10px 0px;margin:0px;}
.hide-btn{display:none;}
.regular-flight-details td input[type="radio"]{position:relative !important;top:22px !important;left:6px !important;}
.fl-td-slide{padding:1%; margin-bottom:1%; height: 60px;}